/* {
  border: 1px solid red;
}*/

body {
  height: 96vh;
  overflow: hidden;
}

#container {
  height: 100%;
  margin: auto;
  display: grid;
  grid-template: 150px 5fr / 250px 4fr;
  overflow: hidden;
  background: radial-gradient(#12163a, #05060e);
}

#header {
  grid-column: 2/3;
  max-height: 150px;
  display: grid;
  grid-template: 1fr 3fr / 2fr 1fr;
  background-color: #12163a;
  position: relative;
}

.top {
  grid-area: 1 / 1 / 2 / 3;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 15px;
}

.search {
  margin-left: 40px;
  grid-column: 1/2;
  padding: 0;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
}

.search-input {
  border: 2px solid #5b2a86;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  width: 100%;
  height: 40px;
  align-self: center;
  font-size: 1rem;
  color: #12163a;
}

.search-input:focus {
  outline: 1px solid #843dc2;
}

.search-btn {
  height: 30px;
  width: 30px;
  padding: 0;
  margin-left: 15px;
  background: none;
  justify-self: start;
  align-self: center;
  border: none;
}

.search-icon {
  object-fit: cover;
  filter: invert(1);
}

.alert-btn {
  justify-self: end;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: #5b2a86;
  margin-top: 10px;
  margin-right: 10px;
}

.alert-btn:hover {
  background-color: #843dc2;
}

.alert-btn:active {
  background-color: #5b2a86;
}

.bell-img {
  vertical-align: center;
  filter: invert(1);
}

.user {
  display: grid;
  grid-template: 1.2fr 0.8fr / 75px 4fr;
  margin-left: 50px;
}

.user-thumbnail {
  grid-area: 1 / 1 / 3 / 2;
  outline: 1px solid white;
  border: 2px solid gray;
  border-radius: 50%;
  height: 65px;
  width: 65px;
  overflow: clip;
  justify-self: center;
  align-self: center;
  margin-right: 10px;
}

.user-img {
  height: 100%;
  object-fit: cover;
}

#user-name {
  grid-area: 1/2/2/3;
  align-self: end;
  margin: 0;
  color: white;
}

#user-email {
  grid-area: 2/2/3/3;
  align-self: start;
  margin: 0;
  color: lightgray;
}

.actions {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  align-content: center;
}

.action-btn {
  width: 100px;
  height: 40px;
  padding: 4px;
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  background-color: #5b2a86;
}

.action-btn:hover {
  background-color: #843dc2;
}

.action-btn:active {
  background-color: #5b2a86;
}

#sidebar {
  padding: 10px;
  grid-column: 1/2;
  grid-row: 1/3;
  background-image: linear-gradient(65deg, #2e1a63, #12163a);
  color: white;
  position: relative;
  z-index: 1000;
  box-shadow: -10px 0 100px 10px #05060e;
}

.page-name {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.logo-cont {
  grid-column: 1/2;
  height: 1rem;
}

.title {
  grid-column: 2/3;
  font-size: 1.5rem;
  text-shadow: 0 0 20px #b14aed;
}

.nav > ul {
  list-style-type: none;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 30px 0 30px 0;
  padding: 0;
}

.nav > ul > li {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 5px;
}

.nav-icon {
  height: 28px;
  vertical-align: bottom;
  justify-self: center;
  align-self: center;
  filter: invert(1);
}

.nav-link {
  text-decoration: none;
  color: white;
  align-self: center;
}

.nav-link:visited {
  color: white;
}

.nav-link:active {
  color: gray;
}

#main-content {
  grid-template: 2/2/3/3;
  margin: 0;
  padding: 10px;
  max-width: 1500px;
  justify-self: center;
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 15px;
  gap: 15px;
  overflow: hidden;
  position: relative;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 250px;
  gap: 15px;
  overflow: auto;
  padding-bottom: 100px;
  padding-right: 20px;
}

.card {
  border: 2px solid #5b2a86;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  overflow: clip;
  color: white;
  gap: 0;
}

.game-img-cont {
  grid-column: 1/2;
  overflow: clip;
}

.game-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.game-data {
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 1fr 3fr;
  height: 100%;
  padding: 0 0 0 5px;
  gap: 10px;
  margin: 0;
  box-shadow: -20px 0 50px 10px #05060e;
}

.game-name {
  grid-row: 1/2;
  margin: 5px;
}

.game-description {
  grid-row: 2/3;
  overflow: auto;
  margin: 0;
  line-height: 1.2rem;
}

.articles {
  display: grid;
  grid-template-rows: auto;
  grid-column: 2/3;
  padding: 10px;
  padding-bottom: 60px;
  padding-right: 10px;
  gap: 20px;
  overflow: auto;
  border: 1px solid gray;
  border-radius: 10px;
  color: white;
}

.article-1,
.article-2 {
  display: grid;
  grid-template-rows: auto auto;
}

.article-1 {
  grid-row: 1/2;
}

.article-2 {
  grid-row: 2/3;
}

.article-img-cont {
  grid-row: 1/2;
  height: 200px;
  overflow: clip;
}

.article-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.article-body {
  grid-row: 2/3;
}

.article-body > p {
  text-overflow: ellipsis;
}

.fade {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  height: 100px;
  width: 100%;
  background-image: linear-gradient(0deg, #05060e, rgba(0, 0, 0, 0));
}
