* {
  border: 1px solid red;
}

body {
  height: 96vh;
}

#container {
  height: 100%;
  margin: auto;
  max-width: 1400px;
  display: grid;
  grid-template: 1fr 5fr / minmax(120, 1fr) 4fr;
}

#header {
  grid-column: 2/3;
  max-height: 120px;
  display: grid;
  grid-template: 1fr 3fr / 2fr 1fr;
  gap: 10px;
}

.top {
  padding: 5px;
  grid-area: 1 / 1 / 2 / 3;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 15px;
}

.search {
  grid-column: 1/2;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
  width: 50%;
  padding: 2px;
  align-self: center;
  font-size: 1rem;
}

.user-img {
  height: 50px;
}

.notifications {
  margin: 10px;
  grid-column: 2/3;
  height: 40px;
  vertical-align: center;
  justify-self: end;
}

#sidebar {
  padding: 10px;
  grid-column: 1/2;
  grid-row: 1/3;
  display: grid;
  background-image: linear-gradient(65deg, #37718e, #63aabf);
  color: white;
}

.nav > ul {
  list-style-type: none;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 30px 0 30px 0;
  padding: 0;
}

.nav > ul > li {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 5px;
}

.nav-icon {
  height: 28px;
  vertical-align: bottom;
  justify-self: center;
  align-self: center;
  filter: invert(1);
}

.nav-link {
  text-decoration: none;
  color: white;
}

.nav-link:visited {
  color: white;
}

.nav-link:active {
  color: gray;
}

#main-content {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 15px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 180px);
  gap: 15px;
}

.card {
  height: 180px;
}

.card > img {
  object-fit: contain;
}

article {
  justify-self: end;
}
